.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
tests/
.git/
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
*.md
!README.md
!LICENSE
case/
custom/
nanobot_arch.png
nanobot_logo.png
core_agent_lines.sh
